<!DOCTYPE html>
<head>
    
    <link rel="stylesheet" href="style.css">
    <title>Change Unit</title>
</head>
<body>
    <h1>UnitChanger</h1>
    <div>
        <p>enter value</p>
    </div>
    <div>
        <p>select unit</p>
        <span>change</span>
    </div>
    <div>
        <p>result</p>
    </div>
</body>
</html>